/* postcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  z-index: 1 !important;
}

nav {
  z-index: 1000 !important;
  position: relative;
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translateX(40px); }
  100% { opacity: 1; transform: translateX(0); }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out;
}
